body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}
#container {
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1515155075601-23009d0cb6d4?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    top: 70vh;
}
#projectContainer {
    position: relative;
    background-color: rgba(34, 34, 34, 0.781);
    width: 95%;
    left: 2.5%;
    right: 2.5%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: .25rem;
}
.projectDiv {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    background-color: #F1E9DB;
    border-radius: .25rem;
    width: 90%;
    left: 5%;
    right: 5%;
    margin-bottom: 20px;
    text-align: center;
}
#funwithForumsPhoto {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("funwithforums.png");
}
#funwithForumsPhoto:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    background-image: url("funHover.png");
    transition: 1s;
    transform: scale(.69);
}
#ricoDepotPhoto {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("ricodepot.png");
}
#ricoDepotPhoto:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    background-image: url("ricoHover.png");
    transition: 1s;
    transform: scale(.69);
}
#soundFoundPhoto {
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("foundsound.png");
}
#soundFoundPhoto:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: black;
    background-image: url("soundHover.png");
    transition: 1s;
    transform: scale(.69);
}
.pictureOuterContainer {
    display: flex;
    justify-content: center;
    padding: 25px;
    width: 40%;
    background-color: #EBD4CB;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
}
.picture {
    border-radius: 100%;
    width: 100%;
    height: 500px;
}
.pictureTextDiv{
    width: 60%;
    height: 500px;
    padding: 15px;
}
.listContainer > ul {
    text-align:left;
}
@media only screen and (max-width: 1000px) {
    .picture {
        width: 60%;
        height: 250px;
    }
    .pictureTextDiv{
        padding: 15px;
        width: 60%;
        height: 500px;
        background-color: #F1E9DB;
        position: relative;
        margin: auto;
        width: 80%;
    }
    .projectDiv {
        position: relative;
        display: initial;
        justify-content: center;
        background-color: #F1E9DB;
        border-radius: .25rem;
        width: 100%;
        left: 0%;
        right: 0%;
    }
    .pictureOuterContainer {
        position: relative;
        justify-self: center;
        background-color: #EBD4CB;
        width: 80%;
        margin: auto;
        height: 250px;
    }
}
@media only screen and (max-width: 800px) {
    .picture {
        width: 60%;
        height: 250px;
    }
    .pictureTextDiv{
        padding: 15px;
        width: 60%;
        height: 600px;
        background-color: #F1E9DB;
        position: relative;
        margin: auto;
        width: 80%;
    }
    .projectDiv {
        position: relative;
        display: initial;
        justify-content: center;
        background-color: #F1E9DB;
        border-radius: .25rem;
        width: 100%;
        left: 0%;
        right: 0%;
    }
    .pictureOuterContainer {
        position: relative;
        justify-self: center;
        background-color: #EBD4CB;
        width: 80%;
        margin: auto;
        height: 250px;
    }
}
@media only screen and (max-width: 600px) {
    .picture {
        width: 60%;
        height: 250px;
    }
    .pictureTextDiv{
        padding: 15px;
        width: 60%;
        height: 700px;
        background-color: #F1E9DB;
        position: relative;
        margin: auto;
        width: 80%;
    }
    .projectDiv {
        position: relative;
        display: initial;
        justify-content: center;
        background-color: #F1E9DB;
        border-radius: .25rem;
        width: 100%;
        left: 0%;
        right: 0%;
    }
    .pictureOuterContainer {
        position: relative;
        justify-self: center;
        background-color: #EBD4CB;
        width: 80%;
        margin: auto;
        height: 250px;
    }
}
